.p{	  
	color:rgba(255, 0, 0, 0.767);
	background:white;
	font-size:40px;
	text-align:center;
	border: 1px solid white;
	margin-top: 125px;
	margin-bottom: 50px;
	margin-right: 200px;
	margin-left: 200px;
  }
  .button{
	  color:rgba(255, 0, 0, 0.767);
	  background-color: white;
  }
  .h1{
	color:white;
	background:rgba(255, 0, 0, 0.767);
	margin-top: 50px;
	margin-bottom: 50px;
	margin-right: 250px;
	margin-left: 250px;
	font-size:30px;
	text-align:center;	  
  }
  .h2{
	color:white;
	background:rgba(255, 0, 0, 0.767);
	font-size:30px;
	text-align: center;	  
  }
  .h3{
	color:white;
	background:rgba(255, 0, 0, 0.767);
	font-size:30px;
	text-align: center;  
  }
  .body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	  sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	  monospace;
  }
